*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: grid;
    grid-template-columns: 50px calc(100%-50px);
    width: 100%;
}

.app-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}